.container {
	margin: 0 auto;
	padding: 1rem;
	height: 60vh;
	margin-bottom: 2rem;
}
.container h2 {
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 1.6rem;
}
.container > div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow-x: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.container > div::-webkit-scrollbar {
	display: none;
}
